*{
    font-family: 'Inconsolata', monospace;
}

#content{
    
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(images/17.webp);
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header{
    font-family: 'Inconsolata', monospace;
    font-size: 2.5em;
    color: rgba(255,255,255,0.5);
    transition: all 0.5s ease;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 4em;
    height: 4em;
}

#vertical{
    transition: all 0.5s ease;
    position: fixed;
    right: -100px;
    list-style: none;
    z-index: 2;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
    backdrop-filter: blur(15px);
}

#menu{
    padding-top: 5px;
    margin-right: 5px;
    width: 4.5em;
    height: 4.5em;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: all 0.5s ease;
}

#menu.visible{
    transition: all 0.5s ease;
    transform: rotateY(0deg);
}

#vertical.visible{
    transition: all 0.5s ease;
    display: block;
    top: 50;
    right: -15px;
    z-index: 2;
    
}

#cambio{
    padding: 1em;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

#cambio.vuelta{
    animation: rueda 0.5s ease-in-out 1;
}

.redes{
    padding: 1em;
    width: 3em;
    height: 3em;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    height: 89.4vh;
    align-items: center;
}

.salida{
    position: relative;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    width: 324px;
    height: 686px;
}

#aviso.error{
    animation: color 2s ease-in-out 1;
}

#aviso{
    color: rgba(255,255,255,0.5);;
    display: block;
    font-weight: bold;
}

#Texto{
    color: rgba(255,255,255,0.5);
    background: transparent;
    border:2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    text-align: left;
    height: 450px;
    width: 820px;
    resize: none;
    font-size: 3em;
    overflow: hidden;
}



textarea:focus{
    outline: none;
}

textarea::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 0.8em;
}

.botones-cript{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

#mensaje{
    color: rgba(255,255,255,0.5);
    position: relative;
    resize: none;
    overflow: hidden;
    width: 316px;
    height: 566px;
    background: transparent;
    border: none;
    font-size: 2em;
    display: none;
}

#copiar{
    display: block;
    margin: 32px auto 1em auto;
    display: none;
}

#confirmacionCopiado{
    color: rgba(255,255,255,0.5);;
    font-weight: bold;
    display: none;
    position: absolute;
	left: 50%;
	transform: translate(-50%);
    white-space: nowrap;
}

#confirmacionCopiado.copiado{
    animation: color2 2s ease-in-out 1;
}

#fachada{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 59px;
}

.montana{
	animation: float 6s ease-in-out infinite;
    width: 250px;
    height: 250px;
}

.titulo{
    font-size: 1.5em;
    padding: 0 0 0.5em 0;
    color: rgba(255,255,255,0.5);
    word-wrap: break-word;
    text-align: center;
}

.logo{
    transition: all 0.5s ease;
}

.sub-titulo{
    font-size: 1em;
    padding: 0 0 0.5em 0;
    color: rgba(255,255,255,0.5);
    word-wrap: break-word;
    text-align: center;
}

button{
    width: 8em;
    height: 2.5em;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    background: transparent;
    backdrop-filter: blur(15px);
    font-size: 1.5em;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    cursor: pointer;
}

@keyframes error {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70% {
      transform: translateX(-10px);
    }
    20%, 40%, 60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }
  
  button.error {
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-name: error;
  }

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes color{
    0% {
        color: red;
    }
    25% {
        color: rgba(255,255,255,0.5);
    }
    50% {
        color: red;
    }
    100% {
        color: rgba(255,255,255,0.5);
    }
}

@keyframes color2{
    0% {
        color: greenyellow;
    }
    25% {
        color: rgba(255,255,255,0.5);
    }
    50% {
        color: greenyellow;
    }
    100% {
        color: rgba(255,255,255,0.5);
    }
}

@keyframes rueda{
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.5% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.5% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#body.cero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(images/17.webp);
    background-size: cover;
    background-position: center;
}

#body.uno{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(images/1.webp);
    background-size: cover;
    background-position: center;
}

#body.dos{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(images/dos.webp);
    background-size: cover;
    background-position: center;
}

#body.tres{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(images/3.webp);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:1155px){
    body{
        background: url(images/17.webp);
        background-size: auto;
        background-position: center;
    }

    #body.cero{
        position: relative;
        width: 100vw;
        height: 100vh;
        background: url(images/17.webp);
        background-size: auto;
        background-position: center;
    }
    
    #body.uno{
        position: relative;
        width: 100vw;
        height: 100vh;
        background: url(images/1.webp);
        background-size: auto;
        background-position: center;
    }
    
    #body.dos{
        position: relative;
        width: 100vw;
        height: 100vh;
        background: url(images/dos.webp);
        background-size: auto;
        background-position: center;
    }
    
    #body.tres{
        position: relative;
        width: 100vw;
        height: 100vh;
        background: url(images/3.webp);
        background-size: auto;
        background-position: center;
    }
    
    main{
        display: flex;
        
        align-items: center;
    }

    .entrada{
        margin-top: 50px;
    }

    .salida{
        margin-top: 50px;
    }

}

@media screen and (max-width:865px){
    main{
        display: flex;
        justify-content: center;

    }

    #header{
        font-size: 1.5em;
        transition: all 0.5s ease;
    }

    #menu{
        padding-top: 5px;
        margin-right: 5px;
        width: 3.5em;
        height: 3.5em;
        cursor: pointer;
        transform: rotateY(180deg);
        transition: all 0.5s ease;
    }

    .logo{
        width: 3.5em;
        height: 3.5em;
        transition: all 0.5s ease;
    }

    .entrada{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .salida{
        position: relative;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        width: 300px;
        height: 500px;
        margin-top: 1em;
    }

    #mensaje{
        color: rgba(255,255,255,0.5);
        position: relative;
        resize: none;
        overflow: hidden;
        width: 300px;
        height: 400px;
        background: transparent;
        border: none;
        font-size: 2em;
        display: none;
    }

    #aviso{
        margin-top: 1em;
        text-align: center;
    }

    .botones-cript{
        margin-top: 1em;
    }

    #copiar{
        display: block;
        margin: 16px auto 1em auto;
        display: none;
    }

    .montana{
        animation: float 6s ease-in-out infinite;
        width: 150px;
        height: 150px;
    }

    #Texto{
        color: rgba(255,255,255,0.5);
        background: transparent;
        border:2px solid rgba(255,255,255,0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        height: 300px;
        width: 300px;
        resize: none;
        font-size: 2em;
        overflow: hidden;
        text-align: center;
    }

    #cambio{
        padding: 0.5em;
        width: 2em;
        height: 2em;
    }

    .redes{
        padding: 0.5em;
        width: 2em;
        height: 2em;
    }    
}